@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

$font_family: "Montserrat", sans-serif;

$gray: #d5d4d4;

$desktop: 1200px - 1px;
$tablet: 960px - 1px;
$mobile: 768px - 1px;

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$tablet}) {
        @content;
    }
}
