.header{
    border-bottom: 1px solid $gray;
    &>.container{
        display: flex;
        align-items: center;
        height: 80px;
        @include tablet{
            display: block;
            height: auto;
            padding: 15px 0;
            text-align: center;
        }
    }
}

.header__logo{
    @include tablet{
        margin-bottom: 15px;
    }
}

.header__menu{
    margin-left: auto;
    ul{
        list-style: none;
        display: flex;
        @include tablet{
            display: block;
        }
        li{
            margin-right: 30px;
            @include tablet{
                margin-right: 0;
                margin-bottom: 5px;
            }
            &:last-child{
                margin-right: 0;
                @include tablet{
                    margin-bottom: 0;
                }
            }
            a{
                color: #000;
            }
            &.active{
                a{
                    text-decoration: underline;
                }
            }
        }
    }
}
